<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>My Blog</title>
  <link rel="stylesheet" href="/styles/base.styles.css">
  <link rel="stylesheet" href="/styles/_button.css">
</head>
<body>
  <div class="container my-4">
    <h1><%= title %></h1>
    <a class="button button-primary" href="/articles/new">New Article</a>
  
    <% articles.forEach(article => { %>
      <div class="card mt-3">
        <div class="card-body">
          <div class="card-title">
            <h3><%= article.title %></h3>
            <div class="card-subtitle text-muted"><%= article.createdAt.toLocaleDateString() %></div>
          </div>
          <div class="card-text mb-2"><%= article.content %></div>
          <a href="/articles/<%= article.id %>">Read More</a>
        </div>
      </div>
    <% }) %> 
  </div>
</body>
</html>