<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <link rel="stylesheet" href="/styles/base.styles.css">
</head>
<body>
  <h1><%= title %></h1>
  <a href="/articles/new">New Article</a>

  <div class="articles">
    <% articles.forEach(article => { %>
      <h3><a href="/articles/<%= article.id %>"><%= article.title %></a></h3>
      <div><%= article.createdAt.toLocaleDateString() %></div>
      <div><%= article.content %></div>
    <% }) %> 
  </div>
</body>
</html>