<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article</title>
  <link rel="stylesheet" href="/styles/base.styles.css">
</head>
<body>
  <div class="article">
    <h2><%= article.title %></h2>
    <div><%= article.createdAt.toLocaleDateString() %></div>
    <div><%= article.content %> </div>
  </div>

  <a href="/articles">Return to Home</a>
  <a href="/articles/<%= article.id %>/edit">Edit Article</a>
  <form action="/articles/<%= article.id %>?_method=DELETE" method="post">
    <button>Delete</button>
  </form>
</body>
</html>